<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Top Doadores</title>
  <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
  <style>
    #chartdiv { width: 100%; height: 400px; }
  </style>
</head>
<body>

<div id="chartdiv"></div>
<!-- graficoDoadores.html -->
<script>
am4core.ready(async function () {
  am4core.useTheme(am4themes_animated);

  var chart = am4core.create("chartdiv", am4charts.XYChart);
  chart.colors.step = 2;

  var xAxis = chart.xAxes.push(new am4charts.CategoryAxis());
  xAxis.dataFields.category = "category";
  xAxis.renderer.labels.template.rotation = -30;
  xAxis.renderer.labels.template.fill = "#ffffff"


  var yAxis = chart.yAxes.push(new am4charts.ValueAxis());
  yAxis.min = 0;
  yAxis.renderer.labels.template.fill = "#ffffff"


  var series = chart.series.push(new am4charts.ColumnSeries());
  series.dataFields.valueY = "valor";
  series.dataFields.categoryX = "category";
  series.name = "Doações";
  series.columns.template.tooltipText = "{category}: [bold]{valueY}[/]";

  try {
    let token = localStorage.getItem('token');
        const resp = await fetch("/HACKATHON/dashboard/relatorio/graficos", {
        method: "GET",
        headers: {
            "Content-Type": "application/json",
            'Authorization': `Bearer ${token}`,
        },
        });
        
        const json = await resp.json();
    if (json.status && json.dados && json.dados.doadores) {
      chart.data = json.dados.doadores;
    }
  } catch (e) {
    console.error("Erro ao carregar top doadores:", e);
  }
});
</script>


</body>
</html>
