<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Eco System</title>

    <link rel="stylesheet" href="../style/style-login.css">

    <!-- Fonte Inter -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">

    <!-- Boxicons -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">

    <!-- Remix Icons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet">

</head>
<body>
  <div class="glass">

    <!-- Logo -->
    <div class="logo-login">
      <i class="ri-leaf-fill"></i>
      <span>EcoSystem</span>
    </div>

    <!-- Campo usuário -->
    <div class="input-group">
      <i class='bx bxs-user'></i>
      <input type="text" placeholder="E-mail/Usuário">
    </div>

    <!-- Campo senha -->
    <div class="input-group">
      <i class="ri-key-2-line"></i>
      <input type="password" placeholder="Senha">
    </div>

    <!-- Link senha -->
    <div class="links">
      <a href="#">Esqueceu sua senha?</a>
    </div>

    <!-- Botão login -->
    <button class="btn-login">Login</button>

    <!-- Link criar conta -->
    <div class="register">
      Não tem uma conta? <b</ber><a href="register.html">Crie aqui</a>
    </div>
  </div>
</body>
</html>
