  <!DOCTYPE html>
  <html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro | Eco System</title>
      <link rel="stylesheet" href="../style/style-login.css">
    
    <!-- Fonte Inter -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Remix Icon -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">

    <!-- Boxicons -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
  </head>
  <body>

    <div class="glass">
      
      <!-- Logo -->
      <div class="logo-login">
        <i class="ri-leaf-fill"></i>
        <span>EcoSystem</span>
      </div>

              <!-- Formulário -->
      <form>  

          <!-- Nome e Sobrenome lado a lado -->
          <div style="display: flex; gap: 10px;">
          <div class="input-group" style="flex: 1;">
              <i class='bx bxs-id-card'></i>
              <input type="text" placeholder="Nome" required>
          </div>
          <div class="input-group no-icon" style="flex: 1;">
              <input type="text" placeholder="Sobrenome" required>
          </div>
          </div>

          <!-- Usuário -->
          <div class="input-group">
          <i class='bx bxs-user'></i>
          <input type="text" placeholder="Usuário" required>
          </div>

          <!-- E-mail -->
          <div class="input-group">
          <i class="ri-at-line"></i>
          <input type="email" placeholder="E-mail" required>
          </div>

          <!-- Senha -->
          <div class="input-group">
          <i class="ri-key-2-line"></i>
          <input type="password" placeholder="Senha" required>
          </div>

        <!-- Botão -->
        <button class="btn-login" type="submit">Criar conta</button>

      </form>

      <!-- Rodapé -->
      <div class="register">
        Já possui uma conta? <a href="login.html">Clique aqui</a>
      </div>

    </div>

  </body>
  </html>
